	a{
			text-decoration:none;
			color:black;
			font-size:20px;
			background-color: red;
		}
		nav li{
			list-style:none;
			display:inline-block;
			padding:4px 70px;
			text-align:center;
			
		}
		ul{
			padding:0;
		}
		a:hover{
			color:white;
		}
		nav:hover{
			cursor:default;
		}
		#contenido{
			width:1000px;
			margin:0 auto;
		}
		#nombre{
			width: 250px;
			height: 20px;
			text-align:center;
			border: 3px solid brown;
			border-radius: 10px 0px 39px 22px;
			margin:0 auto;
			box-shadow: 0px 0px 20px red inset, 0px 0px 25px blue;}

			body{
   background:url("../imagenes/fondo.jpg");

   background-color:red;
}
@font-face{
  font-family:Inder;
  src: url(fuentes/Inder/Inder-Regular.ttf) format('TrueType');
}
@font-face{
  font-family:Alegreya_Bold;
  src: url(fuentes/Alegreya/Alegreya-Bold.ttf) format('TrueType');
}
@font-face{
  font-family:Alegreya-Black;
  src: url(fuentes/Alegreya/Alegreya-Black.ttf) format('TrueType');
}
header{
  
  font-family:Alegreya-Black;
  font-size:24px;
  color:white;
  
}
section{
  font-family:Inder;
  font-size:12px;
}
nav{
	display: inline-block;
    margin: 0;
    padding: .6em 1.5em;
    font: normal bold 16px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
    color: #cccccc;
    height: 16px;
    line-height: 16px;
}
footer{
	clear:both;
  font-family:Alegreya-Black;
  font-size:13px;
  color:black;
}
#titulo{
  font-family:Alegreya-Black;
  font-size:18px;
  margin-top:47px;
}
#cuadro2{
   margin:0 112px 0 112px;
}
#contenido{
   width:1100px;
   margin:0 auto;
}
aside{
	float: right;
	overflow: hidden;
	margin-left: 70%;
	padding: 1%; 
}
#texto {
	text-align: center;
	font-size: 20px;
	background-color: #eeeeee;
	    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
aside{float: right;}
footer{
	display: flex;

	}
.pie{
	flex-wrap: wrap;}
.galeria {flex-direction: row;}
article{float: left;
overflow: hidden;
margin-right: 30%}